@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: rubik-sans;
  src: url(/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: rubik-sans;
  src: url(/Rubik-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

@theme {
  --font-sans: rubik-sans;
}
